

/* ===== Variáveis exclusivas da seção Benefícios ===== */
.section-Benef {
  --benef-bg: #cfcfe7;
}

@media (prefers-color-scheme: dark) {
  .section-Benef {
    --benef-bg: #1f2028;
  }
}

.cardBenef-container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.cardBenef-card {
  padding: 2rem 1.5rem;
  border: none;
  transition: 0.2s ease-in-out;
  background: linear-gradient(to bottom, #f6f7fa, #dce1f8);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.cardBenef-card:hover {
  background: linear-gradient(to bottom, #f6f7fa, #d7ddfa);
  box-shadow: var(--glass-shadow-lg);
  transform: translateY( -5px);
}

.cardBenef-icon {
  width: 56px;
  height: 56px;
  color: var(--secondary);
  font-size: 3rem;
}

.cardBenef-card h3 {
  font-family: var(--fontHeading);
  color: var(--primary);
  margin-bottom: 0.6rem;
}

.cardBenef-card p {
  color: var(--text-s);
}


/* Responsividade */
@media (max-width: 1024px) {
  .cardBenef-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .cardBenef-section {
    padding: 3.5rem 1.5rem;
  }

  .cardBenef-header h2 {
    font-size: 1.7rem;
  }

  .cardBenef-header p {
    font-size: 1rem;
  }

  .cardBenef-container {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}